body {
    background: #f5f7fa;
    font-family: Arial, sans-serif;
   
  }
  .container {
    text-align: center;
    font-family: "Questrial", sans-serif;
  }
  
  .logo {
    position: absolute;
    margin-left: 20px;
    top: 20px;
    width: 120px;
    height: 120px;    
  }
  
  .logo img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    object-fit: contain;
  }
  .asset1 {
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    width: 500px;
    height: 500px;    
  }
  
  .asset1 img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    object-fit: contain;
  }
  
  .asset2 {
    position: absolute;
    top: 0; 
    right:0 ;
    width: 500px;
    height: 500px;     
  }
  
  .asset2 img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    object-fit: contain;
  }
  .asset3 {
    position: absolute;
    margin-top: 120px; 
    margin-left:30px ;
    position: absolute;
    width: 300px;
    height: 300px;    
  }
  
  .asset3 img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    object-fit: contain;
  }
  .asset4 {
    position: absolute;
    top: 250px;
    right: 0;
    width: 600px;
    height: 600px;    
  }
  
  .asset4 img {
    max-width: 100%;  
    max-height: 100%; 
    height: auto;     
    object-fit: contain;
  }
  .form-container {
    position: absolute;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 650px;
  
    top: 340px;           
    left: 50%;                   
    transform: translate(-50%, -50%);
    z-index: 2; 
    align-items: center; 
    justify-content: center;
  }
  .form-head{
    margin-top: 70px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  nav span {
    font-weight: bold;
    color: #aaa;
  }
  
  nav .active {
    color: #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 30px;
  }
  
  
  
  label {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  input[type="number"] {
    padding: 8px;             /* Padding inside the input field */
    border: 1px solid #ccc;   /* Border style for the input */
    border-radius: 4px;       /* Rounded corners for the input */
    width: 250px;
    box-sizing: border-box;    /* Include padding and border in the total width */
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;              
  }
  
  button:hover {
    background-color: #0056b3;
  }
  